{% comment %}
This is just the author and narrator links

There is the table of attributes that can also be shown in the audiobook product
There is a similar but different one shown in the audiobook page - section/audiobook-bookdata.liquid
{% endcomment %}

{%- assign narrators = book.narrators.value -%}
{%- assign authors = book.authors.value -%}


<table class="audiobooks-authornarrator">
   <tbody>

      <tr>
         <td>Author</td>
         <td>
            {% for author in authors %}
               {{ author.name | link_to: author.system.url, class: 'author'}}{% unless forloop.last %}, {% endunless -%}
            {% endfor %}
         </td>
      </tr>
      <tr>
         <td>Narrator</td>
         <td>
            {% for narrator in narrators %}
               {{ narrator.name | link_to: narrator.system.url, class: 'narrator'}}{% unless forloop.last %}, {% endunless -%}
            {% endfor %}
         </td>
      </tr>
   </tbody>
</table>