{% for photo in metaobject.photos.value %}
	{{ photo | image_url: width: 200 | image_tag }}
	{% break %}
{% endfor %}
<h1> {{ metaobject.name }} </h1>
<h3> Audiobook {{ metaobject.system.type }} </h3>
<p>
	{{ metaobject.bio }}
</p>
