{% comment %}
This is the table of attributes that is shown in the audiobook page
There is a similar but different one shown in the audiobook product - snippets/audiobook-productdata.liquid

OLD???
{% endcomment %}


<div {% render 'section-properties', tight: true,  class: 'mobile_float'%}>
  {%- render 'audiobook-productdata' product: product-%}
</div>
{% schema %}
{
  "name": "Book Data",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading"
    }
  ],
  "presets": [
    {
      "name": "Audiobook Data",
      "settings": {
        "heading": "Book data for an audiobook"
      }
    }
  ]
}

{% endschema %}