<style>
.audiobooks-full-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.detail-label {
    font-weight: bold;
    width: 20%; /* Adjust as needed */
}

.detail-value {
    width: 80%; /* Adjust as needed */
    text-align: left;
}



</style>


    

<div {% render 'section-properties', tight: true, class: 'mobile_float' %}>

{%- assign chapters = metaobject.chapters.value | sort: 'index' %}
<div class="chapters-container">
  <ol class="chapters-list">
    {%- for chapter in chapters -%}
      <li class="chapter-item">
        <div class="chapter-content">
          <b>{{ chapter.title }}</b>
          {{ chapter.summary | metafield_tag }}
        </div>
      </li>
    {%- endfor -%}
  </ol>
</div>



</div>

{% schema %}
{
    "name": "Audiobook Chapters",
    "blocks": [ ],
    "presets": [
        {
            "name": "Default Audiobook Chapters",
            "category": "Custom Content"
        }
    ]
}
{% endschema %}


