<style>
.audiobooks-full-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.detail-label {
    font-weight: bold;
    width: 20%; /* Adjust as needed */
}

.detail-value {
    width: 80%; /* Adjust as needed */
    text-align: left;
}

</style>


{% if product %}
  <!-- This is a product template -->
  {%- assign handle = product.handle -%}
  {%- assign audiobook_metaobject = shop.metaobjects.audiobooks[handle] -%}

{% elsif metaobject %}
   <!-- This is a metaobject template but can be lots of diff types but all should have same handle -->
   {%- assign handle = metaobject.system.handle -%}
   {%- assign audiobook_metaobject = shop.metaobjects.audiobook[handle] -%}
   {%- assign product = audiobook_metaobject.product.value -%}
{% endif %}

{%- assign metafields = product.metafields.book -%}
{%- assign narrators = metafields.narrators.value -%}
{%- assign authors = metafields.authors.value -%}
{%- assign characters = metafields.characters.value -%}

{%- assign handle = audiobook_metaobject.system.handle -%}
{%- assign title = audiobook_metaobject.product.value.title -%}

{%- assign audiogramme_metaobject = shop.metaobjects.audiogramme[handle] -%}
{%- assign synopsis_metaobject = shop.metaobjects.audiobook_synopsis[handle] -%}

<div {% render 'section-properties', tight: true %}>
    {%- render 'audiobook-productdata1' -%}
</div>

{% schema %}
{
    "name": "Audiobook Data",
    "max_blocks": 50,
    "blocks": [
        {
            "type": "audiogramme",
            "name": "Audiogramme",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Audiogramme",
                    "default": "Audiogramme"
                }
            ],
            "limit": 1
        },
        {
            "type": "synopsis",
            "name": "Synopsis",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Synopsis",
                    "default": "Synopsis"
                }
            ],
            "limit": 1
        },
        {
            "type": "narrators",
            "name": "Narrators",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Narrators",
                    "default": "Narrators"
                }
            ],
            "limit": 1
        },
        {
            "type": "authors",
            "name": "Authors",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Authors",
                    "default": "Authors"
                }
            ],
            "limit": 1
        },
        {
            "type": "characters",
            "name": "Characters",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Characters",
                    "default": "Featuring"
                }
            ],
            "limit": 1
        },
        {
            "type": "publisher",
            "name": "Publisher",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Publisher",
                    "default": "Publisher"
                }
            ],
            "limit": 1
        },
        {
            "type": "isbn",
            "name": "ISBN",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for ISBN",
                    "default": "Voxblock ISBN"
                }
            ],
            "limit": 1
        },
        {
            "type": "print_isbn",
            "name": "Print ISBN",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Print ISBN",
                    "default": "Print ISBN"
                }
            ],
            "limit": 1
        },
        {
            "type": "genres",
            "name": "Genres",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Genre",
                    "default": "Genres"
                }
            ],
            "limit": 1
        },
        {
            "type": "duration",
            "name": "Duration",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Duration",
                    "default": "Duration"
                }
            ],
            "limit": 1
        },
        {
            "type": "preview",
            "name": "Preview",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Preview",
                    "default": "Preview"
                }
            ],
            "limit": 1
        },
        {
            "type": "categories",
            "name": "Categories",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Categories",
                    "default": "Categories"
                }
            ],
            "limit": 1
        },
        {
            "type": "language",
            "name": "Language",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Language",
                    "default": "Language"
                }
            ],
            "limit": 1
        },
        {
            "type": "abridged",
            "name": "Abridged",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Abridged",
                    "default": "Abridged"
                }
            ],
            "limit": 1
        },
        {
            "type": "bisac_codes",
            "name": "BISAC Codes",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for BISAC Codes",
                    "default": "BISAC Codes"
                }
            ],
            "limit": 1
        },
        {
            "type": "thema_codes",
            "name": "Thema Codes",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Thema Codes",
                    "default": "Thema Codes"
                }
            ],
            "limit": 1
        },
        {
            "type": "reading_level",
            "name": "Reading Level",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Reading Level",
                    "default": "Reading Level"
                }
            ],
            "limit": 1
        },
        {
            "type": "interest_level",
            "name": "Interest Level",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Interest Level",
                    "default": "Interest Level"
                }
            ],
            "limit": 1
        },
        {
            "type": "key_stage",
            "name": "Key Stage",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Key Stage",
                    "default": "Key Stage"
                }
            ],
            "limit": 1
        },
        {
            "type": "elt",
            "name": "ELT",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for ELT",
                    "default": "ELT"
                }
            ],
            "limit": 1
        },
        {
            "type": "atos_book_level",
            "name": "ATOS Book Level",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for ATOS Book Level",
                    "default": "ATOS Book Level"
                }
            ],
            "limit": 1
        },
        {
            "type": "ar_points",
            "name": "AR Points",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for AR Points",
                    "default": "AR Points"
                }
            ],
            "limit": 1
        },
        {
            "type": "word_count",
            "name": "Word Count",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Word Count",
                    "default": "Word Count"
                }
            ],
            "limit": 1
        },
        {
            "type": "content_themes",
            "name": "Content Themes",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Content Themes",
                    "default": "Content Themes"
                }
            ],
            "limit": 1
        },
        {
            "type": "fiction",
            "name": "Fiction",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Section Title for Fiction",
                    "default": "Fiction/Nonfiction"
                }
            ],
            "limit": 1
        }
    ],
    "presets": [
        {
            "name": "Default Audiobook Data",
            "category": "Custom Content"
        }
    ]
}
{% endschema %}


