<style>
.audiobooks-full-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.detail-label {
    font-weight: bold;
    width: 20%; /* Adjust as needed */
}

.detail-value {
    width: 80%; /* Adjust as needed */
    text-align: left;
}
</style>

<div>

</div>
{% schema %}
{
    "name": "Audiobook Chapters",
    "blocks": [ ],
    "presets": [
        {
            "name": "Default Audiobook Chapters",
            "category": "Custom Content"
        }
    ]
}
{% endschema %}


