<style>
  #shopify-section-{{ section.id }} {
    --page-max-width: {{ section.settings.content_width }};
  }
</style>

{%- assign title = page.metafields.global.title_tag | default: page.title -%}


<div class="container">
  <div class="page-spacer">
    <div class="page">
      {%- if section.settings.show_title -%}
        <h1 class="h1 text-center">{{ title }}</h1>
      {%- endif -%}
      {%- if page.content != empty -%}
        <div class="prose">
          {{ page.content }}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page",
  "class": "shopify-section--main-page",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "content_width",
      "label": "Content width",
      "options": [
        {
          "value": "60ch",
          "label": "Small"
        },
        {
          "value": "80ch",
          "label": "Medium"
        },
        {
          "value": "100ch",
          "label": "Large"
        },
        {
          "value": "120ch",
          "label": "X-Large"
        },
        {
          "value": "100%",
          "label": "Full width"
        }
      ],
      "default": "80ch"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show title above content?",
      "default": true

    }
  ]
}
{% endschema %}