<div class="container">
  <div class="page">
    <div class="metaobjects index-list">
      {% paginate shop.metaobjects[section.settings.object_type].values  by section.settings.page_size %}

        {% for a in shop.metaobjects[section.settings.object_type].values %}
          {{ a.name.value | link_to: a.system.url, class: 'author'}}<br/>
        {% endfor %}

        {{- paginate | default_pagination -}}

      {% endpaginate %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Metaobjects list",
  "class": "shopify-section--logo-list",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Metaobjects",
      "info": "Paginated list of metaobjects."
    },
    {
      "type": "range",
      "id": "page_size",
      "label": "Page size",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 25
    },
    {
      "type": "select",
      "id": "object_type",
      "label": "Object type",
      "options": [
        {
          "value": "author",
          "label": "Authors"
        },
        {
          "value": "narrator",
          "label": "Narrators"
        },
        {
          "value": "character",
          "label": "Characters"
        },
        {
          "value": "publisher",
          "label": "Publishers"
        }
      ],
      "info": "Choose a metaobject to paginate over",
      "default": "author"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "Metaobjects list",
      "blocks": [
        
      ]
    }
  ]
}
{% endschema %}

